.container.footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.container-main-layout {
  padding-top: 55px;
}
.root-app input {
  border-radius: 2px;
  padding: 5px 10px;
  height: 38px;
  width: 100%;
  border: 1px solid #ddd;
  color: #5d5d5d;
}